services:
  - type: web
    name: fresh-meat-backend
    env: node
    region: singapore
    plan: free
    buildCommand: npm install
    startCommand: npm start
    rootDir: backend
    envVars:
      - key: NODE_ENV
        value: production

  - type: web
    name: fresh-nonveg-order
    env: static
    region: singapore
    plan: free
    buildCommand: npm ci && npm run build
    staticPublishPath: build
    rootDir: frontend
    routes:
      - type: rewrite
        source: /*
        destination: /index.html